

block content
 .color__page
    include ../../components/logo/logo.pug
    .flex__wrapper
        .color__item
            .color__flex
                .item.dark-shade_100
                .color__text
                    h2='Dark Shade 100%'
                    p='#1F2041'
            .color__flex
                .item.dark-shade_75
                .color__text
                    h2='Dark Shade 75%'
                    p='#1F2041'
            .color__flex
                .item.dark-shade_50
                .color__text
                    h2='Dark Shade 50%'
                    p='#1F2041'
            .color__flex
                .item.dark-shade_25
                .color__text
                    h2='Dark Shade 25%'
                    p='#1F2041'
            .color__flex
                .item.dark-shade_5
                .color__text
                    h2='Dark Shade 5%'
                    p='#1F2041'
            .color__flex
                .item.purple
                .color__text
                    h2='Purple'
                    p='#BC9CFF'
            .color__flex
                .item.green
                .color__text
                    h2='Green'
                    p='#6FCF97'
        .text__item
            .container.extra-large
                p.container__title H1
                p.container__description.bold This one is the sub-section or widget title
            .container.large
                p.container__title H2
                p.container__description.bold Next one is the item title inside widgets
            .container.small
                p.container__title H3
                p.container__description.bold This is a label or CTA text
            .container.normal
                p.container__title Body
                p.container__description This is the body text which is used for most of the design, like paragraphs, lists, etc.